.pricesSection {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.8);
}
.pricesSectionText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.pricesSectionTextSpan {
  font-size: 2.5rem;
  color: #343434;
  font-weight: 700;
  text-transform: uppercase;
}
.pricesSectionPriceBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.pricesSectionPriceBlockOne {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}
.pricesSectionPriceText {
  width: 100%;
  text-align: center;
  padding: 20px;
  border: 1px solid #000;
  background-color: #20b2aa;
  font-size: 1.5rem;
  color: #fff;
}
.pricesSectionPriceTextOne {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  border: 1px solid #343434;
  background-color: #fff;
}
.btnCall {
  cursor: pointer;
}
.pageSpan {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
}
.pageSpan:hover {
  /* color: #20b2aa; */
  transition: 0.3s;
  background-color: #20b2aa;
}
.company_header {
}
.company_headerSection {
  background: url(../../public/img/company.jpg);

  background-position: center center;
  /* определяет размер изображения на странице */
  background-size: cover;
  /* свойство устанавливает, будет ли повторяться изображение и каким образом */
  background-repeat: no-repeat;
  /* cвойство определяет, будет ли фоновое изображение прокручиваться 
  вместе с остальной частью страницы или будет фиксированным */
  background-attachment: fixed;
  padding-top: 80px;
  display: flex;
  height: 100%;
}
.company_headerDivOne {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.company_headerDiv {
  width: 100%;
}
.company_headerDivOneP {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 50px;
  font-weight: 800;
  color: #343434;
  padding: 20px;
}
.company_headerDivOneP:hover {
  color: #20b2aa;
}
.company_headerDivOnespan {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  padding: 20px;
}
.company_headerDivOnespanh {
  color: #000;
  font-size: 1.5rem;
  margin-left: 50px;
  font-weight: 600;
  cursor: pointer;
}
.company_headerDivOnespanh:hover {
  color: #20b2aa;
}
.company_headerDivOnespanP {
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 20px;
}
.companySectionTwo {
  padding: 25px;
  margin: 20px;
  background: rgb(15, 13, 47);
  background: linear-gradient(
    90deg,
    rgba(15, 13, 47, 1) 0%,
    rgba(2, 0, 36, 1) 0%,
    rgba(221, 222, 231, 1) 0%,
    rgba(214, 220, 229, 1) 35%,
    rgba(114, 197, 203, 1) 100%
  );
  border: 3px solid #20b2aa;
}
.companySectionTwoBlock {
  display: flex;
}
.companySectionTwoBlockspan {
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
}
.companySectionThree {
  padding: 50px 50px;
  background-color: #20b2aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.companySectionThreeText {
  color: #fff;
  font-size: 2rem;
  border: 2px solid black;
  font-weight: 700;
  padding: 10px;
}
.oneHeader {
  color: #fff;
}
.mapsYandexSection {
  width: 100%;
  background-color: #fff;
}
.intro h2 {
  border-bottom: 10px solid #20b2aa;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);
}
.displayFlex {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.displayFlexMaps {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 30px;
}
.displayFlexMapsh1 {
  color: #343434;
  font-weight: 700;
  font-size: 4rem;
  padding-bottom: 50px;
  cursor: context-menu;
}
.displayFlexMapsh1:hover {
  color: #008080;
  transition: 0.5s;
}
.navFlex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navFlexText {
  color: #fff;
  cursor: pointer;
  /* font-size: 20px; */
  font-weight: 500;
  transition: 0.5s;
}
.navFlexText:hover .blockNav {
  display: block;
}
.navFlexBlock:hover .blockNav {
  opacity: 1;
}
.navFlexBlock {
  transition: 0.5s;
  width: 100%;
  text-align: center;
  padding: 10px;
  transition: 1s;
  cursor: pointer;
}
.navFlexBlock:hover {
  background-color: #20b2aa;
}
.navFlexBlock:hover .navFlexText {
  color: #fff;
}
.blockNav:hover {
  opacity: 1;
}
.blockNav {
  display: grid;
  opacity: 0;
  margin-top: 15px;
  position: absolute;
  background-color: #20b2aa;
  width: 200px;
  transition: 1s;
  cursor: pointer;
  justify-items: center;
}
.blocknavspan {
  color: #343434;
  font-size: 2rem;
  text-align: center;
  transition: 0.5s;
}
.blocknavspan:hover {
  color: #fff;
}
.displayFlexMapsh3 {
  color: #343434;
  font-size: 1.5rem;
}
.displayFlexMapsh3 {
  display: flex;
  align-items: center;
}
.displayFlexLogo {
  margin-right: 10px;
}
.spanMaps {
  padding: 50px 0;
}
.spanMapsOne {
  padding: 50px 0;
}
.flexCompanyDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.calcsecth1 {
  text-transform: uppercase;
  font-weight: 800;
  color: #20b2aa;
  margin-bottom: 0;
}
.calcsecth2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 0;
  font-weight: 800;
  color: #343434;
}
.calcSection {
  padding: 20px 30px;
}
.calcSectionDiv {
  background-color: rgba(255, 255, 255, 1);
}
.hall {
  min-width: 200px;
  outline: 0px;
  min-height: 50px;
}
.calcSelectDiv {
  padding: 50px 0;
  display: flex;
}
.inputQuant {
  min-width: 100px;
  min-height: 50px;
  margin-left: 10px;
}
.inputCheckBox {
  width: 25px;
  height: 25px;
}
.checkboxFlex {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 5px;
}
.inputSpanCheck {
  margin-left: 5px;
  color: #343434;
}
.inputCheckBox {
  border-radius: 0;
}
.calcSectionDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.itogo {
  min-width: 300px;
  border-radius: 20px;
  min-height: 100px;
  background-color: #20b2aa;
  border: 1px solid #343434;
}
.btnCall {
  max-width: 150px;
  min-height: 50px;
}
.btn-customCallCalc {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #971922;
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  /* border-radius: 25px; */
  transition: all 0.5s linear;
  margin-left: 40px;
  border: 1px solid #000;
  cursor: pointer;
}
.itogoh1 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.itogoh2 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.pageSpanCalc {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
  background-color: #800000;
  padding: 5px;
}
.company_headerSectionOnebs {
  padding-top: 80px;
}
.NewPosition {
  width: 200px;
  height: 80px;
  background-color: #20b2aa;
  border: none;
  color: #000;
  margin-top: 20px;
}
.calcleftspan {
  margin-left: 10px;
}
.pDemontaj {
  font-size: 2rem;
  color: #343434;
  font-weight: 600;
}
.demontajDiv {
  padding: 30px;
  text-align: justify;
}
.autolomp {
  font-size: 2rem;
  color: #343434;
  font-weight: 900;
  margin-bottom: 50px;
}
